.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}


.button {
  margin-left: 5% !important;
  background:linear-gradient(45deg, #fe6b8b 30%, #ff8e53 90%) !important;
  color:whitesmoke !important;
  padding: 3% !important;
  box-shadow: '0 3px 5px 2px rgba(255, 105, 135, .3)' !important;
  width: 100%;
}
.button:hover {
  background: linear-gradient(45deg, #f793a8 30%, #f1af8c 90%) !important; 
}
.divHeader {
  margin-left: auto !important;
  display: flex;
  flex-direction: row;
  width: 200px;
}
.divFilter {
  margin-right: auto !important;
  display: flex;
  flex-direction: row;
  width: 800px;
}
.divMongo {
  margin-right: auto !important;
  display: flex;
  flex-direction: row;
  width: 280px;
}
.buttonM {
  margin: 4% !important;
  background:linear-gradient(45deg, #fe6b8b 30%, #ff8e53 90%) !important;
  color:whitesmoke !important;
  padding-top: 3% !important;
  padding-bottom: 3% !important;
  padding-left: 10% !important;
  padding-right: 10% !important;
  box-shadow: '0 3px 5px 2px rgba(255, 105, 135, .3)' !important;
  width: 100% ;
  min-width: 200px !important;
}
.buttonM:hover {
  background: linear-gradient(45deg, #f793a8 30%, #f1af8c 90%) !important; 
}

.buttonF {
  margin: 4% !important;
  background: #494bcf !important;
  color:whitesmoke !important;
  padding-top: 2% !important;
  padding-bottom: 2% !important;
  padding-left: 5% !important;
  padding-right: 5% !important;
  border-radius: 5px;
  min-width: 200px !important;
  
}
form{
  display: flex !important;
  flex-direction: column;
  align-items: center !important;
}
.buttonF:hover {
  background: #4143ce !important;
}
input{
  width: 90%;
  padding: 12px;
  margin-bottom: 3%;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.divCardID{
  display: flex;
  flex-direction: row;
  justify-content: center !important;
  align-items: center !important;
}
.icons {
  margin-left: auto;
}
.divCard {
  display: flex;
  flex-direction: row;
}
.divCardSpace {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.divCardCol {
  display: flex;
  flex-direction: column;
  
}
.filter {
  width: 100% !important;
}